:root {
  --clr-primary: #19a89a;
  --clr-primary-dark: #0e887c;
  --clr-tertiary: #f5b92c;
  --clr-secondary: #f73cac;
  --clr-tertiary-light: #fff2d4;
  --clr-secondary-light: #fff5f2;
  --clr-text: #504e4f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0%;
}

html {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  text-align: center;
}
p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  margin: 0%;
}

input {
  border-radius: 0.3em;
  border: 1px solid var(--clr-primary);
}
input:hover,
input:focus {
  outline: none;
  border: 2px solid var(--clr-tertiary);
}

/* navbar css */
.chumbak-nav {
  
  background-color: darksalmon;
}

nav ul {
  list-style-type: none;
}

.navbar-list {
  padding: 0.3em;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar-list li {
  padding: 0;
}

.navbar-list li a {
  font-family: "Montserrat", sans-serif;
  display: block;
  color: white;
  padding: 0.5em;
  text-decoration: none;
}

.navbar-list li a:hover {
  color: darkred;
  text-decoration: none;
  transition: 0.5s;
}

.logo {
  color: #ffffff;
  font-family: "Crimson Text", serif;
  font-size: 1em;
  letter-spacing: 0.25em;
  padding: 0.5em;
  flex: 1;
}

.login {
  margin: auto;
  padding: 0.4em;
  font-size: 0.6em;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  border-radius: 10px;
  overflow: hidden;
  text-transform: uppercase;
}

.login:hover {
  border: 1px solid darkred;
  color: darkred;
  box-shadow: 0px 0px 12px -2px darkred;
  transition: all ease-in-out 0.5s;
}

.login-btn {
  display: none;
}

.right-tabs,
.left-tabs {
  width: 100%;
  order: 1;
  text-align: left;
  padding: 0.5em 0;
  font-size: 0.7em;
  display: none;
}
.right-tabs.active,
.left-tabs.active {
  display: block;
  width: 100%;
  
}

.border-item:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10em;
  position : absolute;
  opacity: 0.2;
  /* padding: 0.1em; */
  border-bottom: 2px solid rgb(255, 255, 255);
}

.left-tabs:hover,
.right-tabs:hover {
  font-size: 0.8em;
  transition: 0.2s;
}

@media only screen and (min-width: 425px) {
  .login-btn {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  .right-tabs {
    display: block;
    width: auto;
    order: 4;
  }
  .left-tabs {
    display: block;
    order: 2;
    width: auto;
  }
  .right-tabs.active, .left-tabs.active {
    display: block;
    width: auto;
  
  }

  .left-icons {
    order: 1;
  }
  .border-item:after {
    padding: 0;
    /* border-bottom: none; */
    display: none;
  }

  .logo {
    order: 3;
  }

  .right-icons {
    order: 5;
  }

  .toggle {
    cursor: pointer;
    display: none;
  }

  .login-btn {
    display: none;
  }
}
/* ends */

.section-title {
  padding: 1em 0.5em;
  display: inline-block;
  text-align: center;
  color: var(--clr-primary);
  font-family: "Crimson Text", serif;
  line-height: 1;
}
.intro-info {
  position: relative;
}
.intro-img {
  position: absolute;
  left: 10px;
  opacity: 0.2;
  width: 5em;
  transform: rotate(-30deg);
}
.about-us {
  background: var(--clr-secondary-light);
  display: flex;
  flex-direction: column;
  color: var(--clr-text);
  z-index: 1;
  opacity: 0.8;
  justify-content: center;
  padding: 1em 0.5em;
}

.aboutus-title,
.aboutus-body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.aboutus-title {
  text-align: center;
  display: block;
  padding: 1em 2em 0.5em;
}
.main-title {
  line-height: 1.5;
  font-weight: bold;
}
.aboutus-title small {
  display: block;
  line-height: 1.2;
  overflow-wrap: break-word;
}
.aboutus-body {
  padding: 0.5em 2em 1em;
  font-size: 0.7rem;
  overflow-wrap: break-word;

  text-align: center;
}

.features {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0 1.5em;
}
.feature {
  text-align: center;
  color: var(--clr-secondary);
  padding: 0.5em 3em;
  max-width: 300px;
  margin: 0 auto;
}
.feature-title {
  padding: 0.5em;
  font-family: "Montserrat", sans-serif;

  color: var(--clr-secondary);
}
.products-all {
  background-color: var(--clr-tertiary-light);
}
.products {
  padding: 0.5em 2em 2em;
  display: flex;
  flex-direction: column;
}

.product {
  background-color: #ffffff;
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  padding: 0 0 0.5em;
  max-width: 275px;
  flex: 1;
  margin: 0 auto;
  position: relative;
}

.product + .product {
  margin-top: 1.5em;
}

.product-title {
  padding: 0.5em;
  color: var(--clr-secondary);
}
.product-body {
  padding: 0 1em 0.5em;
  font-size: 0.7em;
  color: var(--clr-text);
  overflow-wrap: break-word;
}

.explore {
  background-color: var(--clr-primary);
  text-align: center;
  display: inline-block;
  border: none;
  color: #ffffff;
  text-decoration: none;
  border-radius: 0.3em;
  font-family: "Montserrat", sans-serif;
  font-size: 0.6em;
  padding: 0.5em;
}

.explore:hover,
.explore:focus {
  color: white;
  text-decoration: none;
  background-color: var(--clr-primary-dark);
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 1);
  transition: all ease-in-out 0.3s;
}

.testimonial {
  border-radius: 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  padding: 2em;
  margin: 1.3em auto 2em;
  max-width: 250px;
}
.tm-title {
  padding: 0.5em;
  font-weight: bold;
  color: var(--clr-tertiary);
}
.tm-body {
  padding: 0 0.5em 0.5em;
  overflow-wrap: break-word;
  font-size: 0.7em;
  color: var(--clr-text);
}

.thumbnail .testimonial {
  position: relative;
}

.thumbnail-img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 4em;
}

.newsletter {
  padding: 1em 0.5em;
  background-color: rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-title {
  color: var(--clr-primary);
  padding: 0.5em;
  font-family: "Crimson Text", serif;
  line-height: 1;
}
.newsletter-body {
  padding: 0 3em 1em;
  font-size: 0.7em;
  line-height: 1.5em;
  color: var(--clr-text);
  overflow-wrap: break-word;
}

.newsletter-input {
  display: flex;
  flex-direction: row;
  padding: 0 0 1em;
  overflow: hidden;
  justify-content: center;
}
.input-email {
  flex: 0 1 50%;
  margin-right: 0.3em;
  font-size: 0.6em;
}
.input-email::placeholder {
  text-align: center;
  color: var(--clr-primary);
}
.footer {
  background-color: black;
  color: wheat;
  font-family: "Montserrat", sans-serif;
}

.col-sm-2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 30%;
  opacity: 0.2;
  padding: 0.1em;
  border-bottom: 2px solid rgb(255, 255, 255);
}
.ftr-col {
  text-align: center;
}
.ftr-col:first-child {
  margin-top: 1em;
}
.ftr-col:last-child {
  margin-bottom: 1em;
}
.footer-title {
  padding: 1em 0 0.5em;
  font-family: "Crimson Text", serif;
}
.contact {
  font-size: 0.7em;
  padding: 0 0 16px;
}
.contact a {
  color: wheat;
  text-decoration: underline;
}
.ftr-col ul {
  margin: 0;
  padding: 0 0 1em;
  list-style-type: none;
}
.ftr-col ul li a {
  font-size: 0.7em;
  color: wheat;
}
.ftr-col ul li a:hower {
  border-bottom: 1px solid white;
  transition: all ease-in-out 3s;
}
.fa {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;

  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook {
  padding: 0.5em 0.7em;
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-android,
.fa-apple {
  width: 2em;
  color: black;
  background-color: wheat;
}
.sub-footer {
  display: flex;
  flex-direction: column-reverse;
}
.social {
  padding: 0 0.5em 0.5em;
  flex: 1;
}
.sub-footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.apps {
  flex: 1;
  padding: 0 0.5em 0.5em;
}
@media only screen and (min-width: 750px) {
  .section-title {
    padding: 1.5em 1em;
    line-height: 1;
  }
  .intro-img {
    width: 10em;
  }
  .about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em 1em 3em;
  }

  .aboutus-title {
    padding: 1em 2em 1em 3em;
    text-align: right;
    flex: 2;
    margin: auto 0 auto auto;
  }

  .main-title {
    line-height: 1.5;
  }
  .aboutus-title small {
    display: block;
    line-height: 1.2;
    overflow-wrap: break-word;
  }
  .aboutus-body {
    flex: 3;
    text-align: left;
    padding: 1em 3em 1em 0;
    font-size: 0.9em;
    margin: auto auto auto 0;
  }

  .features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em 0 3em;
  }

  .feature {
    padding: 0;
    margin: 0;
  }

  .feature + .feature {
    margin-left: 1.5em;
  }

  .products {
    padding: 0em 4em 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .product {
    max-width: 375px;
    margin: 0;
  }

  .product-body {
    font-size: 0.8em;
    margin-bottom: 3em;
  }
  .product + .product {
    margin-top: 0;
    margin-left: 2em;
  }
  .outer-case {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
  }

  .explore {
    font-size: 0.8em;
  }

  .testimonial {
    max-width: 350px;
    margin: 1.3em auto 4em;
  }

  .tm-body {
    font-size: 0.8em;
  }
  .thumbnail-img {
    width: 60px;
    height: 60px;
  }

  .newsletter {
    padding: 2em 1em;
  }

  .newsletter-body {
    font-size: 0.8em;
    padding: 0 4em 1em;
  }
  .newsletter-input {
    margin: auto 0;
  }

  .input-email {
    font-size: 1em;
    margin-right: 0.5em;
  }

  .col-sm-2:after {
    content: "";
    border-bottom: none;
  }
  .ftr-col:first-child,
  .ftr-col:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer-title {
    padding: 1.5em 0 1em;
  }

  .contact,
  .ftr-col ul {
    padding-bottom: 0;
  }
  .ftr-col ul li a {
    font-size: 0.8em;
  }
  .fa {
    font-size: 1.2em;
  }
  .fa-android,
  .fa-apple {
    width: 2em;
  }
}
@media only screen and (min-width: 570px) {
  .col-sm-2:after {
    content: "";
    border-bottom: none;
  }
  .sub-footer {
    flex-direction: row;
  }
}
