@mixin display-flex($justify-content, $flex-direction){
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
    align-items: center;

}
