@import './_variables';
@import './_mixins';

$color-hover-dark : darkred;

.chumbak-nav {
    ul{
        padding: $padding - 0.2em;
        margin: 0;
        overflow: hidden;
        background-color:darksalmon;
        @include display-flex(space-between,none);
        list-style-type : $list-style;
        position: relative;
        li{
            padding: 0;
            a{
                color: $light-text;
                display: block;
                padding: $padding ;
                text-decoration: none;
                &:hover{
                    color: $color-hover-dark;
                    transition: 0.5s;
                }
            
            }
        }
        .item{
            text-align: center;
            width: 100%;
            font-size: $font-size - 0.3em;
            display: none; 
            &:hover{
                transition: 1s;
            }
            &.active {
                display : block;
            }
            @media only screen and (min-width:1000px){
                display: block;
                width: auto;
            }
            
        }
        .border-item:after {
            content: ""; 
            display: block; 
            margin: 0 auto; 
            width: 30%; 
            opacity: 0.2;
            padding: 0.1em;
            border-bottom: 2px solid rgb(255, 255, 255);
            @media only screen and (min-width:1000px){
               
                border-bottom: none;
            }
        }
        
        .left-tabs{
            @include display-flex(none, none);
            width: 100%;
            order: 1;
            @media only screen and (min-width:1000px){
                width: auto;
                order: 2;
            }
        }
        .left-icons{
            @include display-flex(none, none);
            
            @media only screen and (min-width:1000px){
                width: auto;
                order: 1;
            }
        }
        .right-tabs{
            @include display-flex(none, none);
            width: 100%;
            order: 1;
            @media only screen and (min-width:1000px){
                width: auto;
                order: 4;
            }
        }
        .right-icons {
            @include display-flex(none, none);
            @media only screen and (min-width:1000px){
                width: auto;
                order: 5;
            }
        
        }
             
        @media only screen and (min-width:1000px){
            .toggle{
            cursor: pointer;
            display: none;
            }
        }
        .login-btn {
            display: none;
            .login {
                margin: auto;
                padding: $padding - 0.1em;
                font-size:$font-size - 0.4em;
                background-color: transparent;
                border: $btn-border;
                color: $light-text;
                border-radius: 10px;
                overflow: hidden;
                text-transform: uppercase;
                &:hover{
                    border: 1px solid $color-hover-dark;
                    color: $color-hover-dark;
                    box-shadow: 0px 0px 12px -2px $color-hover-dark;
                    transition: all ease-in-out 0.5s;
                }
            }
            @media only screen and (min-width :425px) {
                
                display: block;
              
            }
            @media only screen and (min-width:1000px){
             display: none;
            
            }
            
        }
        
        .logo{
            color: $light-text;
            font-size: $font-size;
            font-weight: $font-weight;
            padding: $padding;
            @media only screen and (min-width:1000px){
                order:3;
            }
        }
        
    }
    
    

}